@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");
:root {
  --box-shadow: 0 0 5px hwb(0 54% 46%);
}
html {
  font-family: "Poppins", sans-serif;
}
body {
  font-size: 62.5%;
  background-color: #b9b9b9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* width-contenner */
.width-contenner {
  max-width: 1024px;
  margin: 0 auto;
}

.top-page {
  position: sticky;
  top: 0;
  background-color: rgb(107, 102, 102);
  padding: 0.5rem;
}
.icon {
  color: white;
  font-size: 1.2rem;
  display: none;
}

.navigation {
  /* background-color: yellow; */
  display: flex;
  flex-direction: row;
  /* align-items: center; */
  justify-content: space-between;
  flex-wrap: wrap;
}
.nav-list {
  list-style: none;
  flex-direction: row;
  display: flex;
  gap: 2rem;
}
.nav-link > a {
  text-decoration: none;
  color: white;
}
.nav-link > a:hover {
  color: hwb(210 50% 9% / 0.973);
}
li {
  font-size: 1rem;
  color: white;
}
.logo {
  font-size: 1.5rem;
  color: white;
}

.nav-list .nav-link i {
  padding: 0 5px;
}
/* .grid-1x2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;

} */
.hero-sections {
  background-color: #888888;
}
.grid-1x2 {
  /* margin: 1rem; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.grid-1x3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2rem;
}
.grid-1x4 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
@media screen and (max-width: 900px) {
  .grid-1x3 {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 768px) {
  .grid-1x2 {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }
  .grid-letf {
    margin: 0 1rem;
  }
  .grid-1x3 {
    display: grid;
    /* align-items: center;
    justify-items: center; */
    grid-template-columns: 1fr;
  }
  .grid-1x4 {
    display: grid;
    align-items: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr;
    gap: 2.5rem;
  }
}
.grid-letf h1 {
  color: white;

  font-size: 2rem;
  font-family: "Kode Mono", monospace;
  font-optical-sizing: auto;
}
.grid-letf p {
  font-size: 0.9rem;
  font-weight: 200;
  color: white;
}
.btn-primary {
  padding: 0.5rem 1rem;
  background-color: dodgerblue;
  border-radius: 10px;
  /* color: black; */
  color: white;
  font-size: 1rem;
  border: none;
}
.btn-secondnary {
  padding: 0.5rem 1rem;
  background-color: hwb(51 13% 17%);
  border-radius: 10px;
  color: black;
  font-size: 1rem;
  border: none;
}
a {
  text-decoration: none;
}
.nav-link a {
  text-decoration: none;
  color: white;
}

.grid-right {
  max-width: 600px;
}
.hero-image {
  max-width: 100%;
}
/* respond website */
@media screen and (max-width: 768px) {
  .nav-list {
    /* display: none; */
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
    gap: 1rem;
    transition: all 0.3s ease-in;
  }
  .nav-link {
    border-bottom: 1px solid #f5f5f50c;
    /* margin-bottom: 1px; */
  }
  .nav-list.show {
    display: none;
  }
  .icon {
    display: block;
    cursor: pointer;
  }
}
/* start popular-course */

/* @media screen and (max-width: 768px) {
.grid-1x3 {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
} */

/*  with and color header  */
.all-header-title {
  color: white;
  margin: auto;
  padding: 2rem 0;
  font-size: 1.5rem;
  text-align: center;
  text-decoration: underline;
}

.item-card {
  max-width: 500px;
  text-align: center;
  /* margin: 1rem 0; */
  background-color: white;
  padding: 2rem;
  border-radius: 15px;
  box-shadow: var(--box-shadow);
}
.image-card {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
  transition: transform 0.2s;
}
.image-card:hover {
  transform: scale(1.05);
}
.item-card h3 {
  font-size: 1.2rem;
}
.item-card p {
  font-size: 0.8rem;
  margin: 1rem 0;
}
.group-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
}
.btn-meta {
  position: relative;
  bottom: -35px;
}
/* .services .grid-1x4 {
  margin-top: 2rem;
  max-width: 100%;
  height: 250px;
  background-color: aqua;
} */
.item-categories {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem 5.5rem;
  background-color: white;
  border-radius: 15px;
  width: 150px;
  box-shadow: 0 0 1px black;
}
.item-in {
  align-items: center;
  justify-content: center;
}
.item-in img {
  width: 100px;
  transition: transform 0.2s;
}
.item-in img:hover {
  transform: scale(1.05);
}
.title-article {
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
}

.footer {
  margin-top: 4.5rem;
  padding: 3.5rem 0;
  background-color: rgb(4, 19, 49);
}
.footer-lists .footer-links > a {
  color: white;
}
.footer-lists .footer-links > a:hover {
  color: hwb(210 50% 9% / 0.973);
}
.footer-lists {
  list-style: none;
}
